/* refarence: https://github.com/3ae3ae/firefox-autohide-navbar */

#main-window > body {
  position: relative !important;
}

#browser {
    position: absolute !important;
    top: 25px !important;
    left: 0; right: 0; bottom: 0;
}

#navigator-toolbox:hover #urlbar {
  opacity: 1;
  transition-delay: 0.35s !important; 
}
#navigator-toolbox:hover{
    opacity: 1;
    max-height: 500px;
    transition-delay: 0.35s !important; 
}

#urlbar {
    opacity: 0;
    transition: all 0.3s ease-in-out !important;
    z-index: 10 !important;
}
#navigator-toolbox
{
    opacity: 0;
    max-height: 25px;
    transition: all 0.3s ease-in-out !important;
    z-index: 10 !important;
}

.tab-group-editor-panel:hover {
}
