
:root {
    --navbar-hover-area-height: 25px;
        /* Height of the hover area that triggers the navbar to appear */
        /* バーの表示のきっかけとなるエリアの高さ */
    --navbar-show-delay: 0.35s;
        /* Delay before navbar appears on hover */
        /* ホバーしてから現れるまでの遅れ */
    --navbar-transition-duration: 0.3s;
        /* Duration of transition ease-in-out */
        /* バーが現れる時間 */
}

#main-window > body 
{
    position: relative !important;
}

#browser 
{
    position: absolute !important;
    top: var(--navbar-hover-area-height) !important;
    left: 0; right: 0; bottom: 0;
}

#navigator-toolbox:hover #urlbar,
#navigator-toolbox:focus-within #urlbar
{
    opacity: 1;
    transition-delay: var(--navbar-show-delay) !important; 
}

#navigator-toolbox:hover,
#navigator-toolbox:focus-within
{
    opacity: 1;
    max-height: 500px; /* large enough to fit content */
    transition-delay: var(--navbar-show-delay) !important; 
}

#urlbar, 
#navigator-toolbox
{
    opacity: 0;
    transition: all var(--navbar-transition-duration) ease-in-out !important;
    z-index: 10 !important;
}

#navigator-toolbox 
{
    max-height: var(--navbar-hover-area-height);
    transition: all var(--navbar-transition-duration) ease-in-out !important;
}

.tab-group-editor-panel:hover 
{
}
